{{ 'app-social-share.css' | asset_url | stylesheet_tag }}
{% if block.settings.color == 'colored' %}
  {% style %}
    .facebook-btn .icon-facebook { color: #1877f2; }
    .twitter-btn .icon-twitter { color: #1da1f2; }
    .pinterest-btn .icon-pinterest { color: #e60023; }
  {% endstyle %}
{% else %}
  {% style %}
    .facebook-btn, .icon-facebook, .twitter-btn, .icon-twitter, .pinterest-btn, .icon-pinterest { color: #8F8F8F }
  {% endstyle %}
{% endif %}


{% if block.settings.alignment == 'left' %}
  {% style %}
    .share-btn-container { justify-content: flex-start; }
  {% endstyle %}
{% elsif block.settings.alignment == 'right' %}
  {% style %}
    .share-btn-container { justify-content: flex-end; }
  {% endstyle %}
{% else %}
  {% style %}
    .share-btn-container { justify-content: center; }
  {% endstyle %}
{% endif %}

<div class="share-btn-container">
  <a href="#" class="facebook-btn">
    {% render 'icon-facebook' %}
  </a>
  <a href="#" class="twitter-btn">
    {% render 'icon-twitter' %}
  </a>
  <a href="#" class="pinterest-btn">
    {% render 'icon-pinterest' %}
  </a>
</div>
<script>
  const facebookBtn = document.querySelector(".facebook-btn");
  const twitterBtn = document.querySelector(".twitter-btn");
  const pinterestBtn = document.querySelector(".pinterest-btn");

  function init() {
    console.log("Hello World! This is a test message :P ");
    const pinterestImgQuery = document.querySelector(".product__media");
    const pinterestImg = pinterestImgQuery.querySelector('img');

    let postUrl = encodeURI(document.location.href);
    let postTitle = encodeURI(document.title);
    let postImg = encodeURI(pinterestImg.src);
    console.log(postImg)
    facebookBtn.setAttribute(
      "href",
      `https://www.facebook.com/sharer.php?u=${postUrl}`
    );

    twitterBtn.setAttribute(
      "href",
      `https://twitter.com/share?url=${postUrl}&text=${postTitle}`
    );

    pinterestBtn.setAttribute(
      "href",
      `https://pinterest.com/pin/create/bookmarklet/?media=${postImg}&url=${postUrl}&description=${postTitle}`
    );
  }

  init();

</script>

{% schema %}
{
  "name": "Social Shares",
  "target": "section",
  "settings": [
    {
      "type": "select",
      "id": "color",
      "options": [
        {
          "value": "colored",
          "label": "brand colors"
        },
        {
          "value": "greyed",
          "label": "grey color"
        }
      ],
      "default": "colored",
      "label": "Color Scheme for Social Buttons",
      "info": "Set the color of share buttons either to brand colors or grey"
    },
    {
      "type": "select",
      "id": "alignment",
      "options": [
        {
          "value": "left",
          "label": "left"
        },
        {
          "value": "center",
          "label": "center"
        },
        {
          "value": "right",
          "label": "right"
        }
      ],
      "default": "center",
      "label": "Alignment",
      "info": "Alignment of Share Buttons"
    }
  ]
}
{% endschema %}
